/* Стили для скролла */
.inform-list::-webkit-scrollbar {
  width: 6.2px;
  height: 30px;
}
.inform-list::-webkit-scrollbar-track {
  background: #f5f6fb;
}

.inform-list::-webkit-scrollbar-thumb {
  background: #ff751d;
  border-radius: 2px;
}
.table {
  box-sizing: border-box;
}

.categori {
  width: 746px;
  height: 38px;
  display: none;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  background-color: #f5f6fb;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.16;
  align-items: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.inform-list {
  box-sizing: border-box;
  max-height: 143px;
  max-width: 280px;
  overflow-y: scroll;
}
.inform {
  height: 40px;
  display: flex;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.12;
  letter-spacing: 0.04em;
  color: #52555f;
}
.inform:not(:last-child) {
  border-bottom: 2px solid #f5f6fb;
}
.dates {
  width: 88px;
  margin-left: 28px;
  margin-right: 21px;
}
.description {
  width: 130px;
  margin-right: 60px;
}
.category {
  width: 180px;
  text-align: center;
  margin-right: 10px;
}
.sums {
  width: 109px;
  text-align: center;
}
.wrap-modil {
  display: flex;
  flex-direction: column;
}
.flex {
  display: flex;
}
.date {
  width: 44px;
  margin-right: 20px;
}
.desc-mobil {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.16;
  align-items: center;
  letter-spacing: 0.04em;
  color: #52555f;
  width: 150px;
  margin-bottom: 3px;
}
.desc {
  display: none;
}
.categ {
  width: 82px;
  margin-right: 12px;
}
.red {
  width: 90px;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.16;
  align-items: center;
  text-align: right;
  letter-spacing: 0.04em;
  color: #e7192e;
}

.grins {
  width: 90px;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.16;
  align-items: center;
  text-align: right;
  letter-spacing: 0.04em;
  color: #407946;
}
.btn {
  width: 18px;
  height: 18px;
  background: transparent;
  border: none;
  margin-right: 5px;
  cursor: pointer;
}
.empty-line {
  display: none;
}

@media screen and (min-width: 768px) {
  .table {
    box-sizing: border-box;
  }
  .wrap-modil {
    display: flex;
  }
  .flex {
    display: flex;
  }

  .categori {
    width: 624px;
    height: 40px;
    display: flex;
  }
  .inform-list {
    max-height: 340px;
    min-width: 624px;
    border-top: 2px solid #f5f6fb;
    border-bottom: 2px solid #f5f6fb;
    border-left: 2px solid #f5f6fb;
  }
  .inform {
    height: 40px;
    display: flex;
    padding: 0 27px 0 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    align-items: center;
    letter-spacing: 0.04em;
    color: #52555f;
  }

  .desc-mobil {
    display: none;
  }
  .dates {
    width: 69px;
    margin-left: 20px;
    margin-right: 40px;
  }
  .description {
    width: 101px;
    margin-right: 74px;
  }
  .category {
    width: 128px;
    text-align: center;
    margin-right: 4px;
  }
  .sums {
    width: 103px;
    text-align: end;
  }
  .date {
    width: 84px;
    margin-right: 25px;
  }
  .desc {
    display: block;
    width: 168px;
    margin-right: 7px;
  }
  .categ {
    width: 124px;
    text-align: center;
  }
  .red {
    min-width: 104px;
    margin-right: 25px;
    align-items: end;
    text-align: right;
  }
  .grins {
    min-width: 104px;
    margin-right: 25px;
    align-items: end;
    text-align: right;
  }
  .btn {
    width: 32px;
    height: 32px;
    background: transparent;
    border: none;
  }
  .btn:hover,
  .btn:focus {
    border-radius: 50%;
    background: #f5f6fb;
  }
  .empty-line {
    display: block;
  }
  .container {
    width: 624px;
  }
}

@media screen and (min-width: 1280px) {
  .table {
    box-sizing: border-box;
    min-width: 746px;
  }

  .categori {
    width: 746px;
    height: 38px;
    display: flex;
  }
  .inform-list {
    box-sizing: border-box;

    max-height: 340px;
    min-width: 746px;

    border-top: 2px solid #f5f6fb;
    border-bottom: 2px solid #f5f6fb;
    border-left: 2px solid #f5f6fb;
    overflow-y: auto;
  }
  .inform {
    height: 40px;
    display: flex;
    padding: 0 27px 0 20px;

    align-items: center;

    color: #52555f;
  }
  .inform:not(:last-child) {
    border-bottom: 2px solid #f5f6fb;
  }
  .dates {
    width: 88px;
    margin-left: 28px;
    margin-right: 21px;
  }
  .description {
    width: 130px;
    margin-right: 60px;
  }
  .category {
    width: 180px;
    text-align: center;
    margin-right: 10px;
  }
  .sums {
    width: 109px;
    text-align: center;
  }
  .date {
    width: 86px;
    margin-right: 25px;
  }
  .desc {
    width: 188px;
    margin-right: 35px;
  }
  .categ {
    width: 116px;
    text-align: center;
    margin-right: 51px;
  }
  .red {
    width: 104px;
    margin-right: 43px;
    text-align: center;
  }
  .grins {
    width: 104px;
    margin-right: 43px;
    text-align: center;
  }
  .container {
    width: 746px;
  }
}

.flexBox {
  margin-right: 0;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .flexBox {
    display: block;
    margin-right: 0;
    margin-top: 48px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 980px) {
  .flexBox {
    display: flex;
  }
}
.plugBox {
  width: 213px;
  height: 276px;
  background: #52555f;
  border-radius: 20px;
}
@media screen and (min-width: 768px) {
  .plugBox {
    margin-top: 40px;
  }
}
@media screen and (min-width: 980px) {
  .plugBox {
    margin-top: 0;
  }
}
