.boxFixedForm {
  position: relative;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  align-items: center;
  margin: 0;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .form {
    display: block;
  }
  .boxFixedForm {
    display: block;
    margin-top: 100px;
    position: relative;
    background: #ffffff;
    padding: 32px 32px 61px;
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 0px 30px 30px 30px;
  }
}
@media screen and (min-width: 980px) {
  .form {
    display: flex;
  }
  .boxFixedForm {
    margin-top: 45px;
    min-height: 479px;
  }
}
@media screen and (min-width: 1280px) {
  .form {
    flex-direction: row;
  }
}

.inputWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 280px;
}

@media screen and (min-width: 768px) {
  .inputWrapper {
    flex-direction: row;
    margin: 0;
    margin-right: 32px;
  }
}
@media screen and (min-width: 980px) {
  .inputWrapper {
    margin-right: 32px;
    min-width: 280px;
  }
}

@media screen and (min-width: 1280px) {
  .inputWrapper {
    width: 714px;
    margin-bottom: 0;
  }
}

.descr {
  width: 260px;
  height: 40px;
  margin-bottom: -2px;
  margin-left: 0;
  padding: 0;
  padding-left: 20px;
  border: 2px solid #fff;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: #f5f6fb;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.descr::placeholder {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #c7ccdc;
  text-transform: none;
}

@media screen and (min-width: 768px) {
  .descr {
    width: 160px;
    margin-right: -2px;
    margin-bottom: 0;
    margin-left: 32px;
    background-color: #fff;
    border: 2px solid #f6f7fc;
    border-top-right-radius: 0;
  }
}

@media screen and (min-width: 1280px) {
  .descr {
    width: 290px;
  }
}

.categorySelect {
  width: 284px;
  height: 40px;
  margin-bottom: 32px;
  padding: 0;
  padding-left: 20px;
  border: 2px solid #fff;
  border-bottom-right-radius: 16px;
  background-color: #f5f6fb;
}

@media screen and (min-width: 768px) {
  .categorySelect {
    width: 186px;
    height: 44px;
    margin-right: -2px;
    margin-bottom: 0;
    background-color: #fff;
    border: 2px solid #f6f7fc;
    border-bottom-right-radius: 0;
  }
}

@media screen and (min-width: 1280px) {
  .categorySelect {
    width: 172px;
  }
}

.amountWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 179px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 22px;
  background-color: #f5f6fb;
}

@media screen and (min-width: 768px) {
  .amountWrapper {
    width: 110px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: #fff;
    border: 2px solid #f6f7fc;
  }
}

@media screen and (min-width: 1280px) {
  .amountWrapper {
    width: 119px;
  }
}

.amount {
  width: 100%;
  padding-right: 16px;
  text-align: right;
  border: none;
  background-color: #f5f6fb;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .amount {
    padding-right: 10px;
    background-color: #fff;
  }
}

.iconWrapper {
  position: relative;
  width: 58px;
  height: 44px;
  border-left: 2px solid #fff;
}


@media screen and (min-width: 768px) {
  .iconWrapper {
    width: 48px;
    border-left: 0;
  }
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .icon {
    left: 0;
    transform: translateY(-50%);
  }
}

.btnWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .btnWrapper {
    margin-top: 32px;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 980px) {
  .btnWrapper {
    margin-top: 0;
  }
}
.btn {
  width: 132px;
  height: 40px;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  color: #52555f;
  background-color: #f5f6fb;
  box-shadow: 1px 2px 5px rgba(170, 178, 197, 0.4);
  border-radius: 16px;
  border: 0;
  transition: color background-color 500ms linear;
}

.btn:hover,
.btn:focus {
  color: #fff;
  background-color: #ff751d;
}

.btn:not(:last-child) {
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .btn {
    width: 125px;
    background-color: #fff;
  }
}

@media screen and (min-width: 1280px) {
  .btn {
    width: 136px;
  }
}
