.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;

    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 1280px) {
       .form {
            flex-direction: row;
    }
}

.dateTransaction{
    min-width: 104px;
    height: 44px;
    margin-right: 32px;

    border: 0;
    background-color: #F5F6FB;
}

@media screen and (min-width: 768px) {
       .dateTransaction {
            margin-right: 44px;
            background-color: #FFF;
    }
}

.inputWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-width: 280px;

    margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
       .inputWrapper {
            flex-direction: row;
    }
}

@media screen and (min-width: 1280px) {
       .inputWrapper {
            min-width: 714px;
            margin-bottom: 0;
    }
}

.descr {
    width: 260px;
    height: 40px;    
    margin-bottom: -2px;
    padding: 0;
    padding-left: 20px;

    border: 2px solid #FFF;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

    background-color: #F5F6FB;

    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.02em;
}

.descr::placeholder {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color:#C7CCDC;
   
    text-transform: none;
}

    @media screen and (min-width: 768px) {
       .descr {
            width: 160px;
            margin-right: -2px;
            margin-bottom: 0;

            background-color: #FFF;
            /* border: 2px solid #F6F7FC; */
            border: 2px solid #F00;
            border-top-right-radius: 0;
        }
    }

    @media screen and (min-width: 1280px) {
       .descr {
            width: 290px;
    }
}

.categorySelect {
    width: 284px;
    height: 40px;
    margin-bottom: 32px;
    padding: 0;
    padding-left: 20px;

    border: 2px solid #fff;
    border-bottom-right-radius: 16px;

    background-color: #F5F6FB;
}

    @media screen and (min-width: 768px) {
       .categorySelect {
            width: 186px;
            height: 44px;
            margin-right: -2px;
            margin-bottom: 0;


            background-color: #FFF;
            /* border: 2px solid #F6F7FC; */
            border: 2px solid #F00;
            border-bottom-right-radius: 0;
    }
}

    @media screen and (min-width: 1280px) {
       .categorySelect {
            width: 172px;
    }
}



.amountWrapper {
    display: flex;
    justify-content:space-around;
    align-items: center;

    width:179px;
    height: 40px;

    border: 2px solid #fff;
    border-radius: 22px;
   
    background-color: #F5F6FB;
}

    @media screen and (min-width: 768px) {
       .amountWrapper {
            width:110px;

           border-top-right-radius: 16px;
           border-bottom-right-radius: 16px;
           border-bottom-left-radius: 0;
           border-top-left-radius: 0;

           background-color: #FFF;
            /* border: 2px solid #F6F7FC; */
            border: 2px solid #F00;

    }
}


    @media screen and (min-width: 1280px) {
       .amountWrapper {
           width:119px;
            margin-right: 32px;

    }
}

.amount {
    width:100%;
    padding-right: 16px;

    text-align: right;
    border:none;
    background-color: #F5F6FB;

    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
       .amount {
            padding-right: 10px;

            background-color: #FFF;
    }
}

.iconWrapper {
    position: relative;
    width: 58px;
    height: 44px;

    border-left: 2px solid #fff;
}

@media screen and (min-width: 768px) {
       .iconWrapper {
           width: 48px;
           border-left: 0;
    }
}

.icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);

    width: 20px;
    height: 20px;
}

@media screen and (min-width: 768px) {
       .icon {
           left: 0;
            transform:  translateY(-50%);
    }
}

.btnWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn {
    width: 132px;
    height: 40px;

    font-weight: 700;
    text-transform: uppercase;

    color: #52555F;

    background-color: #F5F6FB;
    box-shadow: 1px 2px 5px rgba(170, 178, 197, 0.4);
    border-radius: 16px;
    border: 0;

    transition: color background-color 500ms linear,
}

.btn:hover,
.btn:focus
 {
    color: #FFF;
    background-color:#FF751D;
}

.btn:not(:last-child) {
    margin-right: 20px;
}

@media screen and (min-width: 768px) {
       .btn {
           width: 125px;
           background-color: #FFF;
}
}

@media screen and (min-width: 1280px) {
       .btn {
           width: 136px;
}
}