/* .wrapper {
  background-color: #fff;
  width: 320px;
  margin: 0 auto;
  padding-top: 50px;
  margin-top: -30px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 704px;
    padding-bottom: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    height: 195px;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    width: 934px;
    padding: 50px;
    margin-bottom: 40px;
  }
}

.svg {
  width: 56px;
  height: 56px;
  margin-bottom: 5px;
}

.list {
  display: flex;
  justify-content: space-around;
  width: 320px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  width: 100px;
}

.sum {
  margin-bottom: 5px;
  color: #52555f;
}

.categorieName {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.16;
  color: #52555f;
}

.svg {
  fill: #071f41;
  position: relative;
  z-index: 2;
}

.svg:hover {
  fill: #ff751d;
}

.span {
  width: 52px;
  height: 47px;
  background-color: #f5f6fb;
  position: absolute;
  border-radius: 20px;
  top: 33px;
  left: 25px;
}

@media screen and (min-width: 768px) {
  .span {
    left: 25px;
  }

  .item:not(:last-child) {
    margin-right: 35px;
  }
}

.svg:hover ~ .span {
  background-color: #ffdac0;
}

.warn {
  color: #52555f;
  text-align: center;
  text-transform: uppercase;
} */
