.wrapper {
  display: flex;
  justify-content: center;
  width: 280px;
  background: #ffffff;

  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  border-radius: 30px;
  margin: 0 auto;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .wrapper {
    padding: 0;
    width: 704px;
    height: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    width: 1034px;
  }
}

.wrapperExpenses {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.wrapperIncome {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 30px;
}

.wrapperExpenses::after {
  position: absolute;
  bottom: 8%;
  content: '';
  border: 1px solid #e0e5eb;
  height: 60px;
  margin-left: 15px;
}

.text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #52555f;
  text-align: center;
}

.value {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
}

.expenses {
  color: #e53935;
}

.income {
  color: #407946;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .wrapperExpenses {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .wrapperIncome {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
  }

  .wrapperExpenses::after {
    position: static;
    content: '';
    border: 1px solid #e0e5eb;
    height: 36px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .wrapperIncome {
    display: flex;
    align-items: center;
  }

  .text {
    padding-right: 15px;
  }
}

