.navButton {
  border: 4px solid transparent;
}
.navLink {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #000000;
  padding: 20px 50px; 
  background: #f5f6fb;
  border: none;
}
.activeNavLink {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  background: transparent;
  color: #ffffff;
  background: #ff751d;
  padding: 20px 50px;
  border: none;
}

.boxNav {
  display: flex;
  position: fixed;
  bottom: 0;
}
@media screen and (min-width: 768px) {
  .navButton {
    display: none;
  }
  .boxNav {
    display: block;
    position: absolute;
    margin-left: 142px;
    margin-bottom: 9px;
    bottom: 0;
    top: -28px;
    left: -142px;
  }
  .navLink {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000000;
    padding: 10px 20px;
    width: 138px;
    height: 40px;
    background: #fafbfd;
    border: none;
    border-radius: 20px 20px 0px 0px;
  }
  .activeNavLink {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    background: transparent;
    color: #ff751d;
    padding: 10px 20px;
    width: 138px;
    height: 40px;
    background-color: #ffffff;
    border: none;
    border-radius: 20px 20px 0px 0px;
  }
}

