.summaryContainer {
  display: none;
}
@media screen and (min-width: 768px) {
  .summaryContainer {
    width: 230px;
    height: 278px;
    display: block;
    margin-top: 30px;
  }
  
    .summaryTitle {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 38px;
      background: #f5f6fb;
      border: 1px solid #ffffff;
      border-radius: 20px 20px 0 0;
    }
  
    .summaryList {
      margin: 0;
      padding: 0;
      text-align: center;
      list-style: none;
      height: 136%;
      overflow-x: hidden;
    }

    .summaryList::-webkit-scrollbar {
      width: 6.2px;
      height: 30px;
    }
    .summaryList::-webkit-scrollbar-track {
      background: #f5f6fb;
    }
    
    .summaryList::-webkit-scrollbar-thumb {
      background: #ff751d;
      border-radius: 2px;
    }
  
    .summaryItem {
      padding:0 12px;      
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 230px;
      height: 38px;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #52555f;    
      background: #f5f6fb;
      border: 1px solid #ffffff;
    }
  
    .summaryItem:last-child {
      border-bottom-right-radius: 20px;
    }
  
    .summaryDescription {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #52555f;
      padding: 0 22px 0 22px;
      border-radius: 0 0 20px 0;

    }
  }
  @media screen and (min-width: 980px) {
    .summaryContainer {
      margin-top: 0;
    }
  }

  .summaryTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    background: #f5f6fb;
    border: 1px solid #ffffff;
    border-radius: 20px 20px 0 0;
  }

  .summaryList {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    height: 86%;
    overflow-x: hidden;
    border-radius: 0 0 20px 0;
  }

  .summaryItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 230px;
    height: 38px;
    background: #f5f6fb;
    border: 1px solid #ffffff;
  }

  .summaryItem:last-child {
    border-bottom-right-radius: 20px;
  }

  .summaryDescription {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #52555f;
    padding: 0 22px 0 22px;
    border-radius: 0 0 20px 0;
  }

@media screen and (min-width: 1280px) {
  .summaryContainer {
    margin-top: 0px;
  }
}

