.link {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  letter-spacing: 0.04em;

  color: rgba(82, 85, 95, 0.7);
}

@media screen and (min-width: 768px) {
  .link {
    margin-left: auto;
  }
}

@media screen and (min-width: 1280px) {
  .link {
    margin-left: 106px;
  }
}
