.boxSection {
  height: 100vh;
  background-image: url(../../assets/images/Group38.svg);
  background-position-x: 110px;
  background-position-y: 730px;
  background-size: auto;
  background-repeat: no-repeat;
  
}
.section {
  height: 526px;
  width: 100vw;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  background: #f5f6fb;
  border-radius: 0px 0px 0px 80px;
  background-size: auto, auto, contain;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-image: url(../../assets/images/GroupHeader.svg),
    url(../../assets/images/background_image_2_mob.png);

  background-position-x: 30px;
  background-position-y: 90px, 600px, 20px;
  
}

@media screen and (min-width: 768px) {
  .section {
    background-position-x: 10px, 103px, 0;
    background-position-y: 28px, 770px, 0;
  }
  .boxSection {
    height: 100vh;
    background-position-x: 114px;
    background-position-y: 740px;
    background-size: auto;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    background-position-x: 10px, 230px, 0;
    background-position-y: 28px, 602px, 0;
    display: flex;
    flex-direction: row;
  }
  .boxSection {
    background-position-x: 320px;
    background-position-y: 600px;
  
  }
}

.boxSectionAuth {
  background-image: url(../../assets/images/Group\ 37.svg);
  background-position-x: 0;
  background-position-y: 605px;
  background-size: auto;
  background-repeat: repeat-x;
}

.sectionAuth {
  height: 258px;
  width: 100vw;
  display: flex;
  margin: 0 auto;
  background: #f5f6fb;
  border-radius: 0px 0px 0px 80px;
  flex-direction: column;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
}

@media screen and (min-width: 768px) {
  .boxSectionAuth {
    height: 100vh;
  }
  .sectionAuth {
    height: 526px;
    width: 100vw;
    display: flex;
    margin: 0 auto;
    background: #f5f6fb;
    border-radius: 0px 0px 0px 80px;
    flex-direction: column;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 0;
  }
}

@media screen and (min-width: 1280px) {
  .sectionAuth {
    max-width: 1280px;
    padding: 12px 16px;
  }
}

.title {
  padding-top: 86px;
  padding-left: 0;
  margin-left: 20px;
  font-family: Roboto;
  font-weight: 900;
  line-height: 1.17;
  font-size: 40px;
}
.subtitle {
  margin-left: 20px;
}

@media screen and (min-width: 768px) {
  .title {
    padding-top: 80px;
    padding-left: 129px;
    font-size: 66px;
  }
}

@media screen and (min-width: 1280px) {
  .title {
    padding-top: 308px;
    padding-left: 213px;
    font-size: 102px;
  }
}

.subtitle {
  padding-left: 11px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .subtitle {
    padding-left: 192px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .subtitle {
    padding-left: 285px;
  }
}

.container {
  margin: 0 auto;
  width: 320px;
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-right: 16px;
    padding-left: 16px;
  }
  .section {
    width: 1280px;
    margin: 0 auto;
  }
}

