.wrapper {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: rgba(82, 85, 95, 0.7);
  padding-left: 16px;
}

@media screen and (max-width: 768px) {
  .wrapperBalance {
    padding-top: 32px;
  }
  .text {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    margin: 0;
    margin-bottom: 7px;
  }
}
